.hours-list {
  margin: 0 0 10px 0;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: $color-bg-card;
}

.hours-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  min-height: 200px;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  color: $color-light;
}

.hours-list__time {
  @include font(20px, 20px, 400);
}

sup {
  display: inline-block;
  font-size: 13px;
  transform: translateX(-3px);
}

.hours-list__image {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hours-list__temperature {
  @include font(20px, 20px, 400);
}

@media screen and (max-width: $tablet-width) {
  .hours-list {
    flex-direction: column;
  }

  .hours-list__item {
    flex-direction: row;
    min-height: 0px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}

@media screen and (max-width: $tablet-small-width) {
  .hours-list {
    grid-row-start: 2;
    border-radius: 0 0 5px 5px;
  }
}
