.fixed-btn {
  position: fixed;
  bottom: 85px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-image: url("../assets/svg/arrow-up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
