.fixed-btn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: url("assets/svg/arrow-up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
