.parent {
  position: relative;
  overflow: hidden;
}

.co-ordinate {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  animation: increase .5s ease-out forwards;
}

@keyframes increase {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
