.header {
  padding: 15px 0;
  background-color: $color-bg-header;
  scroll-behavior: smooth;
}

.header__wrapper {
  display: grid;
  grid-template-columns: minmax(180px, 31%) minmax(300px, 33.333%) minmax(
      auto,
      33.333%
    );
  grid-column-gap: 20px;
  align-items: center;
}

.header__logo {
}

.logo {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  min-width: 180px;
  @include font(20px, 20px, 600);
  color: $color-light;
  user-select: none;
}

.logo__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../assets/weather/64x64/day/116.png");
  background-size: cover;
}

.header__nav {
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__item {
  @include font(18px, 18px);
}

.header__link {
  color: $color-blur;
  &:hover {
    color: $color-light;
  }
  &_active {
    color: $color-light;
  }
}

@media screen and (max-width: $tablet-width) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(200%);
    transition: transform .5s linear;
    background-color: $color-bg-card;
  }

  .header__link {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .header__menu-burger {
    display: block;
  }

  .active {
    transform: translate(0);
  }
}
