.header {
  padding: 15px 0;
  background-color: $color-bg-header;
}

.header__wrapper {
  display: grid;
  grid-template-columns: minmax(180px, 31%) minmax(300px, 33.333%) minmax(
      auto,
      33.333%
    );
  grid-column-gap: 20px;
  align-items: center;
}

.header__logo {
}

.logo {
  display: inline-flex;
  align-items: center;
  min-width: 180px;
  @include font(20px, 20px, 600);
  color: $color-light;
}

.logo__img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/weather/64x64/day/116.png");
  background-size: cover;
}

.header__nav {
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__item {
  @include font(18px, 18px);
}

.header__link {
  color: $color-blur;
  &:hover {
    color: $color-light;
  }
  &_active {
    color: $color-light;
  }
}

@media screen and (max-width: $tablet-width) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .header__menu-burger {
    cursor: pointer;
    & div:nth-child(1n) {
      margin: 0 0 6px 0;
      width: 25px;
      height: 3px;
      background-color: $color-add;
    }
    & div:last-child {
      margin: 0;
    }
  }
}
